USE [master]
GO
/****** Объект:  Database [Hospital_Firsova_3ISP9-65]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
CREATE DATABASE [Hospital_Firsova_3ISP9-65]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hospital_Firsova_3ISP9-65', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hospital_Firsova_3ISP9-65.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hospital_Firsova_3ISP9-65_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hospital_Firsova_3ISP9-65_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hospital_Firsova_3ISP9-65].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hospital_Firsova_3ISP9-65]
GO
/****** Объект:  UserDefinedFunction [dbo].[fn_CalculateAge]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalculateAge]
(
    @BirthDate DATE
)
RETURNS INT
AS
BEGIN
    DECLARE @Age INT;
    
    -- Вычисляем разницу в годах
    SET @Age = DATEDIFF(YEAR, @BirthDate, GETDATE());
    
    -- Корректируем, если день рождения в этом году еще не наступил
    IF (MONTH(@BirthDate) > MONTH(GETDATE())) OR 
       (MONTH(@BirthDate) = MONTH(GETDATE()) AND DAY(@BirthDate) > DAY(GETDATE()))
    BEGIN
        SET @Age = @Age - 1;
    END
    
    RETURN @Age;
END;
GO
/****** Объект:  UserDefinedFunction [dbo].[fn_GetAvgServiceCost]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetAvgServiceCost]
()
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @AvgCost DECIMAL(18, 2);
    
    SELECT @AvgCost = AVG(Cost)
    FROM MedicalService;
    
    RETURN @AvgCost;
END;
GO
/****** Объект:  UserDefinedFunction [dbo].[fn_getFullName]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_getFullName]
(
    @FullName NVARCHAR(200)
)
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Result NVARCHAR(200);
    DECLARE @Space1 INT, @Space2 INT;
    DECLARE @LastName NVARCHAR(100), @FirstName NVARCHAR(100), @MiddleName NVARCHAR(100);

    SET @Space1 = CHARINDEX(' ', @FullName);
    
    IF @Space1 > 0
    BEGIN
        SET @LastName = LEFT(@FullName, @Space1 - 1);
        SET @FirstName = SUBSTRING(@FullName, @Space1 + 1, LEN(@FullName));
        
        SET @Space2 = CHARINDEX(' ', @FirstName);
        IF @Space2 > 0
        BEGIN
            SET @MiddleName = SUBSTRING(@FirstName, @Space2 + 1, LEN(@FirstName));
            SET @FirstName = LEFT(@FirstName, @Space2 - 1);
            
            SET @Result = UPPER(@LastName) + ' ' + UPPER(LEFT(@FirstName, 1)) + '.' + UPPER(LEFT(@MiddleName, 1)) + '.';
        END
        ELSE
        BEGIN
            SET @Result = UPPER(@LastName) + ' ' + UPPER(LEFT(@FirstName, 1)) + '.';
        END
    END
    ELSE
    BEGIN
        SET @Result = UPPER(@FullName);
    END

    RETURN @Result;
END;
GO
/****** Объект:  UserDefinedFunction [dbo].[fn_GetServiceEndTime]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetServiceEndTime]
(
    @StartTime DATETIME,
    @DurationMinutes INT
)
RETURNS DATETIME
AS
BEGIN
    RETURN DATEADD(MINUTE, @DurationMinutes, @StartTime);
END;
GO
/****** Объект:  Table [dbo].[Order]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] NOT NULL,
	[IDAppointment] [int] NOT NULL,
	[IDPatient] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Appointment]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[IDAppointment] [int] IDENTITY(1,1) NOT NULL,
	[IDEmployee] [int] NOT NULL,
	[IDMedicalService] [int] NOT NULL,
	[DateService] [datetime] NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[IDAppointment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Employee]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IDEmployee] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[MName] [nvarchar](50) NULL,
	[PassportSeries] [nchar](4) NOT NULL,
	[PassportNumber] [nchar](6) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[DateOfBirthday] [date] NOT NULL,
	[Phone] [nchar](12) NOT NULL,
	[IDDepartment] [int] NOT NULL,
	[IDPost] [int] NOT NULL,
	[IDGender] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[IDEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[MedicalService]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalService](
	[IDMedicalService] [int] NOT NULL,
	[TitleService] [nvarchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[QNT] [int] NOT NULL,
 CONSTRAINT [PK_MedicalService] PRIMARY KEY CLUSTERED 
(
	[IDMedicalService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Post]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[IDPost] [int] IDENTITY(1,1) NOT NULL,
	[PostName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[IDPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Patient]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[IDPatient] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[MName] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[IDGender] [int] NOT NULL,
	[DateOfBirthday] [date] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[IDPatient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  View [dbo].[v_PatientServiceReport]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_PatientServiceReport] AS
SELECT 
    CONCAT(p.LName, ' ', p.FName, ' ', p.MName) AS PatientFullName,
    ms.TitleService AS ServiceName,
    CONCAT(e.LName, ' ', LEFT(e.FName, 1), '.', LEFT(e.MName, 1), '.') AS EmployeeShortName,
    post.PostName AS PositionName
FROM 
    Appointment a
INNER JOIN [Order] o ON a.IDAppointment = o.IDAppointment
INNER JOIN Patient p ON o.IDPatient = p.IDPatient
INNER JOIN MedicalService ms ON a.IDMedicalService = ms.IDMedicalService
INNER JOIN Employee e ON a.IDEmployee = e.IDEmployee
INNER JOIN Post post ON e.IDPost = post.IDPost;
GO
/****** Объект:  Table [dbo].[Department]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[IDDepartment] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[IDDepartment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  View [dbo].[v_PatientServiceDepartment]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_PatientServiceDepartment] AS
SELECT 
    CONCAT(p.LName, ' ', p.FName, ' ', p.MName) AS PatientFullName,
    ms.TitleService AS ServiceName,
    CONCAT(e.LName, ' ', LEFT(e.FName, 1), '.', LEFT(e.MName, 1), '.') AS EmployeeShortName,
    d.DepartmentName AS DepartmentName
FROM 
    Appointment a
INNER JOIN [Order] o ON a.IDAppointment = o.IDAppointment
INNER JOIN Patient p ON o.IDPatient = p.IDPatient
INNER JOIN MedicalService ms ON a.IDMedicalService = ms.IDMedicalService
INNER JOIN Employee e ON a.IDEmployee = e.IDEmployee
INNER JOIN Department d ON e.IDDepartment = d.IDDepartment;
GO
/****** Объект:  View [dbo].[v_PopularServices]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_PopularServices] AS
SELECT 
    ms.TitleService AS ServiceName,
    CONCAT(e.LName, ' ', e.FName, ' ', e.MName) AS EmployeeFullName,
    post.PostName AS PositionName,
    COUNT(o.ID) AS ServiceCount
FROM 
    MedicalService ms
INNER JOIN Appointment a ON ms.IDMedicalService = a.IDMedicalService
INNER JOIN [Order] o ON a.IDAppointment = o.IDAppointment
INNER JOIN Employee e ON a.IDEmployee = e.IDEmployee
INNER JOIN Post post ON e.IDPost = post.IDPost
GROUP BY 
    ms.TitleService,
    e.LName,
    e.FName,
    e.MName,
    post.PostName
HAVING 
    COUNT(o.ID) > 5;
GO
/****** Объект:  View [dbo].[v_OctoberPatientsServices]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_OctoberPatientsServices] AS
SELECT 
    ms.TitleService AS ServiceName,
    CONCAT(p.LName, ' ', p.FName, ' ', p.MName) AS PatientFullName,
    p.DateOfBirthDay AS BirthDate
FROM 
    MedicalService ms
INNER JOIN Appointment a ON ms.IDMedicalService = a.IDMedicalService
INNER JOIN [Order] o ON a.IDAppointment = o.IDAppointment
INNER JOIN Patient p ON o.IDPatient = p.IDPatient
WHERE 
    MONTH(p.DateOfBirthDay) = 10;
GO
/****** Объект:  View [dbo].[v_March2020Services]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_March2020Services] AS
SELECT 
    CONCAT(p.LName, ' ', LEFT(p.FName, 1), '.', LEFT(p.MName, 1), '.') AS ClientName,
    ms.TitleService AS ServiceName,
    ms.Cost AS ServiceCost,
    a.DateService AS ServiceDate,
    ms.Duration AS DurationMinutes
FROM 
    Appointment a
INNER JOIN [Order] o ON a.IDAppointment = o.IDAppointment
INNER JOIN Patient p ON o.IDPatient = p.IDPatient
INNER JOIN MedicalService ms ON a.IDMedicalService = ms.IDMedicalService
WHERE 
    YEAR(a.DateService) = 2020 AND MONTH(a.DateService) = 3;
GO
/****** Объект:  Table [dbo].[Diagnosis]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnosis](
	[IDDiagnosis] [int] NOT NULL,
	[DiagnosisName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Diagnosis] PRIMARY KEY CLUSTERED 
(
	[IDDiagnosis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Gender]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[IDGender] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[IDGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Patient'sDiagnosis]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient'sDiagnosis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPatient] [int] NOT NULL,
	[IDDiagnosis] [int] NOT NULL,
 CONSTRAINT [PK_Patient'sDiagnosis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[TegOfClient]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TegOfClient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDClient] [int] NOT NULL,
	[TegName] [nvarchar](100) NOT NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TegOfClient] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Employee] FOREIGN KEY([IDEmployee])
REFERENCES [dbo].[Employee] ([IDEmployee])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Employee]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_MedicalService] FOREIGN KEY([IDMedicalService])
REFERENCES [dbo].[MedicalService] ([IDMedicalService])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_MedicalService]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([IDDepartment])
REFERENCES [dbo].[Department] ([IDDepartment])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Gender] FOREIGN KEY([IDGender])
REFERENCES [dbo].[Gender] ([IDGender])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Gender]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Post] FOREIGN KEY([IDPost])
REFERENCES [dbo].[Post] ([IDPost])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Post]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Gender] FOREIGN KEY([IDGender])
REFERENCES [dbo].[Gender] ([IDGender])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Gender]
GO
ALTER TABLE [dbo].[Patient'sDiagnosis]  WITH CHECK ADD  CONSTRAINT [FK_Patient'sDiagnosis_Diagnosis] FOREIGN KEY([IDDiagnosis])
REFERENCES [dbo].[Diagnosis] ([IDDiagnosis])
GO
ALTER TABLE [dbo].[Patient'sDiagnosis] CHECK CONSTRAINT [FK_Patient'sDiagnosis_Diagnosis]
GO
ALTER TABLE [dbo].[Patient'sDiagnosis]  WITH CHECK ADD  CONSTRAINT [FK_Patient'sDiagnosis_Patient] FOREIGN KEY([IDPatient])
REFERENCES [dbo].[Patient] ([IDPatient])
GO
ALTER TABLE [dbo].[Patient'sDiagnosis] CHECK CONSTRAINT [FK_Patient'sDiagnosis_Patient]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CK_Employee_Phone] CHECK  (([Phone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CK_Employee_Phone]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CK_Patient_Email] CHECK  (([Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CK_Patient_Email]
GO
/****** Объект:  StoredProcedure [dbo].[BookService]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BookService]
    @ServiceName NVARCHAR(100),
    @ServiceDateTime DATETIME,
    @Phone NVARCHAR(20)
AS
BEGIN
    DECLARE @PatientID INT;
    DECLARE @ServiceID INT;
    DECLARE @LName NVARCHAR(50);
    DECLARE @FName NVARCHAR(50);
    DECLARE @MName NVARCHAR(50);

    -- Поиск пациента по телефону
    SELECT @PatientID = IDPatient, @LName = LName, @FName = FName, @MName = MName
    FROM Patient
    WHERE Phone = @Phone;

    IF @PatientID IS NULL
    BEGIN
        PRINT 'Клиента с указанным номером телефона нет в базе данных, для записи на услугу добавьте сведения о клиенте';
        RETURN;
    END

    -- Поиск услуги по названию
    SELECT @ServiceID = IDMedicalService
    FROM MedicalService
    WHERE TitleService = @ServiceName;

    IF @ServiceID IS NULL
    BEGIN
        PRINT 'Проверьте правильность наименования процедуры, такой в нашей больнице нет';
        RETURN;
    END

    -- Если все данные корректны, добавляем запись
    INSERT INTO ClientService (IDPatient, IDMedicalService, DateService)
    VALUES (@PatientID, @ServiceID, @ServiceDateTime);

    PRINT 'Запись на процедуру успешно добавлена! ' + @LName + ' ' + LEFT(@FName,1) + '.' + LEFT(@MName,1) + '. записан на процедуру ' + @ServiceName + ' на ' + CONVERT(NVARCHAR, @ServiceDateTime, 120);
END;
GO
/****** Объект:  StoredProcedure [dbo].[GetAllServices]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllServices]
AS
BEGIN
    SELECT 
        TitleService AS ServiceName,
        Duration,
        Cost
    FROM MedicalService;
END;
GO
/****** Объект:  StoredProcedure [dbo].[GetClientsByCityAndDate]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetClientsByCityAndDate]
    @City NVARCHAR(100),
    @IntervalStart DATE,
    @IntervalEnd DATE,
    @ClientsNumber INT OUTPUT
AS
BEGIN
    SELECT @ClientsNumber = COUNT(DISTINCT o.IDPatient)
    FROM [Order] o
    INNER JOIN Appointment a ON o.IDAppointment = a.IDAppointment
    INNER JOIN Patient p ON o.IDPatient = p.IDPatient
    WHERE 

        p.Address LIKE '%' + @City + '%' 
        AND a.DateService >= @IntervalStart
        AND a.DateService <= @IntervalEnd;
END;
GO
/****** Объект:  StoredProcedure [dbo].[GetServiceStats]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceStats]
    @ServiceName NVARCHAR(100)
AS
BEGIN
    SELECT 
        ms.TitleService AS ServiceName,
        COUNT(o.ID) AS TimesProvided,
        SUM(o.TotalPrice) AS TotalRevenue
    FROM MedicalService ms
    INNER JOIN Appointment a ON ms.IDMedicalService = a.IDMedicalService
    INNER JOIN [Order] o ON a.IDAppointment = o.IDAppointment
    WHERE ms.TitleService = @ServiceName
    GROUP BY ms.TitleService;
END;
GO
/****** Объект:  StoredProcedure [dbo].[GetTop5PopularServices]    Дата создания скрипта: 18.09.2026 23:06:08 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTop5PopularServices]
AS
BEGIN
    SELECT TOP 5
        ms.TitleService AS ServiceName,
        COUNT(o.ID) AS UsageCount
    FROM dbo.MedicalService ms
    INNER JOIN dbo.Appointment a ON ms.IDMedicalService = a.IDMedicalService
    INNER JOIN dbo.[Order] o ON a.IDAppointment = o.IDAppointment
    GROUP BY ms.TitleService
    ORDER BY UsageCount DESC;
END;
GO
USE [master]
GO
